<p><%= @text %></p>
<%- unless @comment.nil? -%>
  <dl>
    <dt>Update Notes:</dt>
    <dd><%=@comment%></dd>
  </dl>
<%- end -%>
<%- unless @event_pid.nil? -%>
  <%- link =  "http://#{@host}#{catalog_path(@event_pid, :viewing_context=>"browse", :content_type=>"event")}"-%>
  <p>The Event can be found <a href="<%=link%>">here</a>.</p>
<%- end -%>
