/*************************
* Hydra Styles
*************************/

#doc4 {
  background-color:#FFF;
  background-image:url('images/nd_banner_bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  text-align:left;
}

#hd {
  height:116px;
  margin:0 auto 10px;
  width:960px;
}

#hd h4 {
  float:left;
  height:38px;
  margin:0;
  padding:0;
}

#hd h4 a {
  color:#E8EDF0;
  display:inline-block;
  font-family:'Palatino Linotype','Book Antiqua',Palatino,serif;
  letter-spacing:.1em;
  margin:0;
  padding:10px 20px;
  text-transform:uppercase;
}

#hd h4 a span {
  font-style:italic;
  padding:0 .2em;
  text-transform:none;
}

#hd h2 {
  clear:both;
  float:left;
  margin:0;
  padding:10px 0 0 20px;
}

#hd h2 a {
  color:#F9DF8B;
  font-family:'Palatino Linotype','Book Antiqua',Palatino,serif;
  font-size:38px;
  font-weight:normal;
}

#hd #actions-menu {
  margin-top:1.8em;
}

#hd ul li {
  cursor:auto;
}

#actions-menu, #session-management {
  float:right;
  font-family:'Palatino Linotype','Book Antiqua',Palatino,serif;
  margin:.7em 1em;
}

ul#actions-menu li, ul#session-management li {
  list-style-type:none;
  color:#E6E8F5;
}

#actions-menu a:link, #session-management a:link, #actions-menu a:visited, #session-management a:visited {
  border-bottom:1px solid #839DBF;
  color:#E6E8F5;
  font-weight:bold;
  text-decoration:none;
}

#search {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color:#DEDEDE;
  height:52px;
}

#search form {
  float:left;
  padding:10px;
  width:700px;
}

#search form #q {
  padding:.3em;
  width:600px;
}

#search form input[type="image"]{
  padding-right:1px;
}

#results {
  border:none;
}

.prev_next_links {
  margin:10px 15px 0;
  text-align:left;
}

.prev_next_links a {
  border-width:1px;
  border-style:solid;
  border-color:#FFF #666 #FFF #FFF;
}

.pagination .current {
  padding:1px 6px;
  width:1.6em;
}

.pagination .next_page, .pagination .prev_page {
  border: 1px solid #FFF;
  padding:3px 6px;
  position:relative;
  margin:0;
}

.document_edit .document {
  border-bottom:none;
}

#compound-form dl {
  padding:.7em 1.7em 1.7em;
}

#compound-form dt {
  margin-top:1em;
  width:100%;
}

#compound-form dd {
  margin-top:.3em;
  margin-right:0;
  width:100%;
}

#compound-form textarea.edit {
  margin-top:0;
}

#compound-form input.edit {
  margin-right:0;
  width:20em;
}

#footer{
  background-color:#FFF;
  background-image:url('images/nd_footer_bg.png');
  background-position:left top;
  background-repeat:repeat-x;
}

#footer #container3 {
  background-color:transparent;
  background-image:url('images/nd_footer.jpg');
  background-position:right top;
  background-repeat:no-repeat;
  height:100px;
}

#footer .contact_info {
  margin-top:.5em;
}

#footer #container3 #bottom_text {
  color:#7A98D0;
  float:none;
  height:70px;
  margin-bottom:5px;
  text-align:center;
  width:100%;
}

#bottom_text p {
  margin-top:.5em;
}

#footer #bottom_text a {
  text-decoration:none;
  border-bottom:none;
}

/*************************
* Local Styles
*************************/

.ar-form label {
  display:block;
}

.ar-form input[type="submit"]{
  font-size:13px;
}

.ar-form input[type="text"]{
  width:20em;
}

.ar-form fieldset {
  padding:1em;
}

.ar-form ol li {
  margin-bottom:.7em;
}

.ar-form select {
  padding:3px 1px;
  margin:3px 0;
  width:50%;
}

a.button {
  border:1px solid #C5DBEC;
}

.selectlist-list {
  list-style:none;
  margin:0;
  padding:0;
  width:50%;
}

.selectlist-item {
  /* Icon from http://pinvoke.com/ */
  background:#FFF url(images/cross-circle.png) no-repeat right center;
  border-color:#EEE #CCC #CCC #EEE;
  border-width:1px 2px 2px 1px;
  border-style:solid;
  cursor:pointer;
  padding:0.2em 0.3em;
  margin:1px 0;
}

.ar-form .selectlist-item {
  margin:2px 0;
}

dl.attributes {
  margin-bottom:1.5em;
}

ul.ui-autocomplete li {
  list-style-type:none;
}

ul.ui-autocomplete li a {
  text-align:left;
}
