<% javascript_includes << "/plugin_assets/fluid-infusion/infusion-1.2-src/lib/jquery/ui/js/jquery.ui.accordion.js" %>

<style type="text/css" media="screen">
  input.editable-edit, input.textile-edit {display:none}
</style>

<div class="document_viewer" id="cover_container">
    <p>There is no submit button for this form. Please click <em>outside the textbox</em> to save the changes.</p>
  <div id="accordion">
	<h2 class="section-title"><a href="#">Derivative</a></h2>
	<%= render :partial => "derivatives/show_derivative", :locals => {:content_type => "derivative"} %>
  </div>

</div>
