<%- if current_user -%>
  <ul id="actions-menu">
    <%- if can? :manage, Group -%>
      <li><%= link_to 'Manage Groups', groups_path %></li>
    <%- end -%>
    <%- if defined?(@document_fedora) -%>
      <%- content_type = @document_fedora.class.name -%>
      <%- if ( @document_fedora.is_a? Event ) && (can? :create_master, MasterWorkflow) -%>
        <li><%= link_to 'Create a Master for this Event', new_master_path(
                                                         :content_type => 'master',
                                                         :event_id     => ( params[:event_id] ? params[:event_id] : params[:id] )
                                                       ) %></li>
      <%- end -%>
      <%- if ( content_type =~ /Master|Derivative/ ) && (can? :create_derivative, DerivativeWorkflow) && !(@document_fedora.respond_to?(:level) && (@document_fedora.level.to_i > 1)) -%>
        <%- new_derivative_params = {
                          :content_type => 'derivative',
                          :event_id     => params[:event_id],
                          :master_id    => ( params[:master_id] ? params[:master_id] : params[:id] )
        } -%>
        <%- new_derivative_params.merge!({ :id => params[:id], :level => 2 }) if @document_fedora.is_a? Derivative -%>
        <li><%= link_to "Create a Derivative of this #{content_type}", new_derivative_path( new_derivative_params ) %></li>
      <%- end -%>
    <%- else -%>
      <%- if can? :create_event, EventWorkflow -%>
        <li><%= link_to 'Create a new Event', new_event_path( :content_type => 'event') %></li>
      <%- end -%>
    <%- end -%>
  </ul>
<%- end -%>
